<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h1>Globals</h1>
        <a href="{% url 'update' %}">Update</a>
        <form method="GET">
            {% csrf_token %}
            <input type="text" name="fdatabase" value="{{fdatabase}}" placeholder="Database"/>
            <input type="text" name="fglobal" value="{{fglobal}}" placeholder="Globals"/>
            <input type="number" name="fsize" value="{{fsize}}" placeholder="Size"  step="0.001"/>
            <input type="number" name="fallocated" value="{{fallocated}}" placeholder="Allocated"  step="0.001"/>

            <input type="radio" name="exportLanguage" value="CSV"/>
            <input type="radio" name="exportLanguage" value="XML"/>
            <input type="radio" name="exportLanguage" value="JSON"/>
            
            <button type="submit" formaction="{% url 'home' %}">Filter</button>
            <button type="submit" formaction="{% url 'export' %}">Export</button>
        </form>
        <table>
            <tr>
                <th>Database</th>
                <th>Global</th>
                <th>Size</th>
                <th>Allocated</th>
            </tr>
            <tr>

            </tr>
            {% for iglobal in iglobals %}
            <tr>
                <td>{{ iglobal.database }}</td>
                <td>{{ iglobal.name }}</td>
                <td>{{ iglobal.realsize }}</td>
                <td>{{ iglobal.allocatedsize }}</td>
            </tr>
            {% endfor %}
        </table>
        <p>showing results for {{iglobals.count}} globals</p>
    </body>
</html>