<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h3>ID  -  DATABASE          /       GLOBAL       - Size / Allocated</h3>
        <ul>
            {% for iglobal in iglobals %}
            <li>
                {{ iglobal.id }} - {{ iglobal.database }} / {{ iglobal.name }} - {{ iglobal.realsize }} / {{ iglobal.allocatedsize }}
            </li>
            {% endfor %}
        </ul>
    </body>
</html>